html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-family:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  line-height: 1.75;
  font-size: 0.875rem;
}
  @media screen and (min-width: 768px) {
    body {
    font-size: 1rem;
  }
  }


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

a {
  color: #6786b1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: .7;
  cursor: revert;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  image-rendering: optimize-contrast; //Chromeで縮小画像がぼやけるのを防ぐ
}

ul {
  padding: 0;
}

li {
  list-style-position: inside;
}

.main__inner {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (768px <= width) {
    .main__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;;
    padding-right: 20px;;
    padding-top: 50px;
    padding-bottom: 50px;
    }
  }
    
    .heading-lv2 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 40px;
    }

    @media (768px <= width) {
      .heading-lv2 {
        font-size: 2rem;
      }


    .tag-list {
      list-style: none;
    }
  
    .tag {
      color: #292b2c;
      background-color:#cfd8dc;
      display: inline-block;
      padding: .2em .3em;
    border-radius: 5px;
    }
  }