---
import BaseLayout from '../layouts/BaseLayout.astro';
import CardPosts from '../components/CardPosts.astro';
---
<BaseLayout>
  <h2 class="heading-lv2">主にweb制作・開発のブログ</h2>
  <CardPosts />
</BaseLayout>