<style>
  .footer {
    background-color: #89B3EC;
    position: sticky;
    top: 100vh;
  }

  .footer__inner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (768px <= width) {
    .footer__inner {
    padding-top: 50px;
    padding-bottom: 50px;
    }
  }
    
    .footer-copyright {
      color: #fff;
      font-size: 12px;
    }
</style>

<footer class="footer">
  <div class="footer__inner">
    <small class="footer-copyright">&copy;2023 aki104-blog</small>
  </div>
</footer>